body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 420px;
}
 .aboutme p{
    padding-top: 75px;
    color: #5a5858;
    font-weight: 200;
    letter-spacing: 4px;
    margin: auto;
    text-align: justify;
    font-size: 1.3em;
    width: 70%;
    position: relative;
    }
    section {
        padding-top: 5px;
        font-family: 'Abel', sans-serif;
        letter-spacing:2px;
        font-size:1.4em;
        
        color:#5a5858;
    }
     img {
    width: 30%;
    }

     h1 {
    padding-top: 30px;
    color: #5a5858;
    font-weight: 200;
    letter-spacing: 4px;
    margin: auto;
    text-align: justify;
    font-size: 1.3em;
    width: 70%;
    position: relative;
     }
     Label {
         color: #5a5858;
     }
     p {
         color: #5a5858;
         font-size: 0.9em;
     }
     span {
         color: rgba(0,0,0,.1);
     }
  



        /*
 * Masthead for nav
 */


.navbar-collapse.collapse {
  background-color: #5a5858;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          
}
/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 2px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}
/* Nav links */
.navbar-brand {
  position: relative;
  display: inline-block;
  padding: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

img#img1 {
    margin-bottom: -20%;
    height:66px;
    width:180px;
    }
a {
    color:#ff6a00;
}

.address{
        color:#ffffff;

}
/*Footer*/
.navbar.navbar-fixed-bottom {
    color:#ffffff;
    background-color:#5a5858;
    width:auto;
    height:auto;
}

ul#foot {
    padding-left: 5px;
    padding-top: 1em;
}