@{
    ViewBag.Title = "About";
}
<!--
File   : About.aspx
Author : Nisarg Patel & Jinal Patel
Website: http://patang.azurewebsites.net/
Description:  This page is my Home page/Default page with default. -->
<style>
   body {
        background-color: #a9a9fb;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: medium;
    }
</style>
<!-- Section  -->
<div class="aboutme">
    <section id="about" class="about">
        <div class="about">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>About Me...</h2>
                    <hr class="small">
                </div>
            </div>
        </div>
    </section>
    <!-- About me Paragraph  -->
    <div class="row">
        <p>
            Once you step into the portals of this experience, you would have stepped into a New World; a world, which takes you back in time.<br />
            <br />At “Patang”, we not only bring alive the traditional Indian and Gujarati culture but also harp on the need to preserve the same for future generations; quite simply because we want the myriad expressions which have come to occupy the faces to last and be passed on <br />
            <br />The traditional welcome – full of warmth; the leisurely saunter in lush green surrounds along lantern lit pathways and responsible for those manifold expressions; the courtyard temple with four generation idols; the works of art and the resplendent architecture of yesteryears; and much more, is what “Patang” is all about.
        </p>
    </div>
</div>