@{
    ViewBag.Title = "About";
}

<!-- Section  -->
<div class="aboutme">
    <section id="about" class="about">
        <div class="about">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>About Me...</h2>
                    <hr class="small">
                </div>
            </div>
        </div>
    </section>
    <!-- About me Paragraph  -->
    <div class="row">
        <p>
            My strong commitment to a career in Information Technology, Presently I am in Computer Programmer Co-op program at Georgian college second semester student.<br />
            <br /> I have procured many skills and attributes that are useful towards your organization. I am fresher but I learned
            some programming skills in my home country. So I have an experience about dealing with programming tools.
            Through my first and second semester study in Computer programmer at Georgian College, I have gained
            excellent knowledge of MySQL, PHP, JAVA, Mathematics as well as System Analysis; as a result, I am
            confident in my knowledge of database management and coding through the different software and languages
            independently as well as in team.
        </p>
    </div>
</div>