@{
    ViewBag.Title = "Home Page";
}
<style>body {
    
    background-image: url('../Assets/Images/patang.jpg');
    background-size : auto;
}</style>

<a class="btn btn-warning btn-lg" id="Button">@Html.ActionLink("Menu", "Index", "Menus")</a>

<link href="~/Content/Site.css" rel="stylesheet" />
