@{
    ViewBag.Title = "Home Page";
}
<style>body {
    
    background-image: url('../Assets/Images/patang.jpg');
    background-size : auto;
}
.botton{
    padding-left: 550px;
    padding-top: 50px;
}    
h3#Wel {
    align-items:center;
    font-family: "Comic Sans MS", cursive, sans-serif;
        color: #1c1c9b;
        font-weight: 700;
        font-size: xx-large;
        
}
</style>
<div class="botton">
       
    
    <a id="btn" class="btn btn-warning btn-lg" id="Button" href="~/Menus/Index"> <h3 id="Wel">Welcome</h3> Menu</a>
</div>
<link href="~/Content/Site.css" rel="stylesheet" />
